@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  display: none !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  display: none !important;
}
.swiper-button-prev, .swiper-button-next {
  top: 95% !important;
  width: 42px !important;
  height: 42px !important;
}
.swiper-button-prev {
  background-image: url('../assets/icons/prev.svg'); 
  left: 88% !important;
}
.swiper-button-next {
  background-image: url('../assets/icons/next.svg'); 
  right: 55px !important;
}
.swiper-wrapper {
  padding-left: 50px !important;
}
.swiper-slide {
  width: 327px !important;
}